* {
  text-align: center;
}

table {
    border: solid 1px;
    border-collapse: collapse;
    margin: auto;
}

td, th{
    border: solid 1px;
    padding: 10px;
    text-align: center;
}



